<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main.html">

<title layout:fragment="titleName">Main Page</title>


<main layout:fragment="mainContent">
    <div th:if="${newApplications.size()==0 && handledApplications.size()==0}"
         class="text-center fw-bold fs-1">No application</div>
    <div class="row g-1">
        <div class="col-6 border" th:each="new :${newApplications}">
            <h4 class="ms-2">
                <span class="text-danger">*(New)</span>
                <span th:text="'Application from '+${new.userName}"></span>
            </h4>
            <h5 class="fw-none text-secondary">Course: <span class="fw-bold" th:text="${new.courseName}"></span></h5>
            <h5 class="fw-none" th:text="${new.comment}"></h5>
            <h5 th:text="'Phone: '+${new.phone}">
                <a th:href="@{'/detail/'+${new.id}}" class="ms-2 text-decoration-none">Detail</a>
            </h5>
        </div>
        <div class="col-6 border" th:each="new :${handledApplications}">
        <h4 class="ms-2">
            <span th:text="'Application from '+${new.userName}"></span>
        </h4>
        <h5 class="fw-none text-secondary">Course: <span class="fw-bold" th:text="${new.courseName}"></span></h5>
        <h5 class="fw-none" th:text="${new.comment}"></h5>
        <h5 th:text="'Phone: '+${new.phone}">
            <a th:href="@{'/detail/'+${new.id}}" class="ms-2 text-decoration-none">Detail</a>
        </h5>
    </div>
    </div>
</main>
</html>