<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main.html">

<title layout:fragment="titleName">Main Page</title>


<main layout:fragment="mainContent">
    <div th:if="${newApplications.size()==0 && handledApplications.size()==0}"
         class="text-center fw-bold fs-1">No application</div>
    <div class="row g-2 mt-2">
        <div class="col-6 border" th:each="app :${newApplications}">
            <h4 class="ms-2">
                <span class="text-danger">*(New)</span>
                <span th:text="'Application from '+${app.userName}"></span>
            </h4>
            <h5 class="fw-none text-secondary ms-2">Course: <span class="fw-bold" th:text="${app.courseName}"></span></h5>
            <h5 class="fw-none ms-2" th:text="${app.comment}"></h5>
            <div class="fs-5">
                <span th:text="'Phone: '+${app.phone}" class="fw-bold ms-2"></span>
                <a th:href="@{'/detail/'+${app.id}}" class="ms-2 text-decoration-none fw-none">Detail</a>
            </div>
        </div>
        <div class="col-lg-6 border" th:each="app :${handledApplications}">
        <h4 class="ms-2">
            <span th:text="'Application from '+${app.userName}"></span>
        </h4>
        <h5 class="fw-none text-secondary ms-2">Course: <span class="fw-bold" th:text="${app.courseName}"></span></h5>
        <h5 class="fw-none ms-2" th:text="${app.comment}"></h5>
        <div class="fs-5">
            <span th:text="'Phone: '+${app.phone}" class="ms-2 fw-bold"></span>
            <a th:href="@{'/detail/'+${app.id}}" class="ms-2 text-decoration-none">Detail</a>
        </div>
    </div>
    </div>
</main>
</html>