<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="main.html">
<title layout:fragment="titleName">New Applications</title>
<main layout:fragment="MainContent">
    <div th:if="${applications.size()==0}"
         class="text-center fw-bold fs-1">No new application
    </div>
    <div class="row g-1">
        <div class="col-6 border" th:each="app :${applications}">
            <h4 class="ms-2">
                <span class="text-danger">*(New)</span>
                <span th:text="'Application from '+${app.userName}"></span>
            </h4>
            <h5 class="fw-none text-secondary">Course: <span class="fw-bold" th:text="${app.courseName}"></span></h5>
            <h5 class="fw-none" th:text="${app.comment}"></h5>
            <h5 th:text="'Phone: '+${app.phone}">
                <a th:href="@{'/detail/'+${app.id}}" class="ms-2 text-decoration-none">Detail</a>
            </h5>
        </div>
</main>
</html>